@font-face {
  font-family: 'Poppins';
  src: url("/fonts/Poppins/Poppins-Regular.woff2") format("woff2"), url("/fonts/Poppins/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("/fonts/Poppins/Poppins-SemiBold.woff2") format("woff2"), url("/fonts/Poppins/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url("/fonts/OpenSans/OpenSans-Regular.woff2") format("woff2"), url("/fonts/OpenSans/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.header {
  padding-top: 20px;
  position: relative;
  z-index: 0;
}

.header .header__bg__img {
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  background-image: url("/images/bg-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: absolute;
  top: 0;
  z-index: 1;
}

.header .container {
  display: -ms-grid;
  display: grid;
  position: relative;
  z-index: 1;
}

.header .container .header__logo {
  max-width: 160px;
  width: 100%;
  height: auto;
  display: block;
}

@media (min-width: 1024px) {
  .header .container .header__logo {
    max-width: 200px;
    width: 100%;
    height: auto;
  }
}

.main {
  padding-top: 60px;
  position: relative;
}

.main .container {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.main .container .main__img img {
  max-width: 700px;
  width: 100%;
  min-height: auto;
}

.main .container .main__content {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  grid-row-gap: 26px;
  max-width: 768px;
  text-align: center;
}

.main .container .main__content .main__content__title {
  font-weight: 700;
  font-size: 30px;
  margin-top: 60px;
}

.main .container .main__content .main__content__copy {
  font-family: 'OpenSans';
  font-weight: 400;
  line-height: 30px;
}

.main .container .main__content .main__content__link {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 290px;
  width: 100%;
  height: 50px;
  text-decoration: none;
  color: #674baf;
  background-color: #fff;
  border-radius: 50px;
  margin-top: 20px;
  -webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
  -webkit-transition: .2s;
  transition: .2s;
}

.main .container .main__content .main__content__link:hover {
  background-color: #e980e7;
  color: #fff;
}

@media (min-width: 1024px) {
  .main {
    padding-top: 40px;
  }
  .main .container {
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    grid-column-gap: 45px;
  }
  .main .container .main__img img {
    max-width: 700px;
    min-width: 540px;
    display: block;
  }
  .main .container .main__content {
    -ms-flex-line-pack: center;
        align-content: center;
    justify-items: left;
    grid-row-gap: 20px;
    max-width: 500px;
    min-width: 400px;
    text-align: left;
  }
  .main .container .main__content .main__content__title {
    font-size: 40px;
    margin: 0;
  }
  .main .container .main__content .main__content__link {
    max-width: 195px;
  }
}

.footer {
  padding: 115px 0 40px 0;
}

.footer .container .socials {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 200px;
  margin: 0 auto;
}

.footer .container .socials .social__links {
  display: -ms-grid;
  display: grid;
  place-items: center;
  border: 1px solid #fff;
  width: 38px;
  height: 38px;
  border-radius: 50px;
  -webkit-transition: .2s;
  transition: .2s;
}

.footer .container .socials .social__links:hover {
  border: 1px solid #fd52c2;
}

.footer .container .socials .social__links:hover path {
  -webkit-transition: .2s;
  transition: .2s;
  fill: #fd52c2;
}

.footer .container .socials .social__links svg {
  width: 32px;
  height: 32px;
  padding: 5px;
}

.footer .container .socials .social__links svg path {
  fill: #fff;
}

@media (min-width: 1024px) {
  .footer {
    padding: 40px 0;
  }
  .footer .container .socials {
    margin-right: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', 'OpenSans', sans-serif;
  color: #fff;
  font-size: 18px;
}

.wrapper {
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #674baf;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}
/*# sourceMappingURL=style.css.map */