.main{
  padding-top: 60px;
  position: relative;

  .container{
    display: grid;
    justify-items: center;

    .main__img{
      img{
        max-width: 700px;
        width: 100%;
        min-height: auto;

      }
    }
    .main__content{
      display: grid;
      justify-items: center;
      grid-row-gap: 26px;

      max-width: 768px;
      text-align: center;

      .main__content__title{
        font-weight: 700;
        font-size: 30px;
        margin-top: 60px;
      }
      .main__content__copy{
        font-family: 'OpenSans';
        font-weight: 400;
        line-height: 30px;
      }
      .main__content__link{
        display: grid;
        align-items: center;
        justify-content: center;

        max-width: 290px;
        width: 100%;
        height: 50px;
        text-decoration: none;
        color: rgb(103, 75, 175);
        background-color: #fff;
        border-radius: 50px;
        margin-top: 20px;
        box-shadow: 0 0 5px 3px rgba(0, 0, 0, .2);
        transition: .2s;

        &:hover{background-color: rgb(233, 128, 231); color: #fff;}
      }
    }
  }
}

@media(min-width: 376px){
  .main{
  }
}
@media(min-width: 1024px){
  .main {
      padding-top: 40px;

      .container {
        grid-template-columns: repeat(2, auto);
        grid-column-gap: 45px;

        .main__img{
          img{
            max-width: 700px;
            min-width: 540px;
            display: block;
          }
        }
        .main__content{
          align-content: center;
          justify-items: left;
          grid-row-gap: 20px;

          max-width: 500px;
          min-width: 400px;
          text-align: left;

          .main__content__title{
            font-size: 40px;
            margin: 0;
          }
          .main__content__link{
            max-width: 195px;
          }
        }
      }
    }
}