  // color: hsl(300, 69%, 71%); lightpink icon hover
  // color:hsl(257, 40%, 49%) ; text color


@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Regular.woff2') format('woff2'),
    url('/fonts/Poppins/Poppins-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-SemiBold.woff2') format('woff2'),
    url('/fonts/Poppins/Poppins-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('/fonts/OpenSans/OpenSans-Regular.woff2') format('woff2'),
    url('/fonts/OpenSans/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@import './header';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', 'OpenSans', sans-serif;
}
.wrapper{
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  border: 1px solid;
  background-color: hsl(257, 40%, 49%);
}
.container{
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}